<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/bootstrap :: head}"></div>
<title>Insert title here</title>
</head>
<body>


<div class="container">
	
	<div class="text-center"> 
		<h1 th:text = "${photo.title}" class="mt-3"></h1>
		<div class="col-6">Ritorna alla home <a href="/"  class="btn btn-primary">Home</a></div>
		<div><img alt="" th:src="${photo.url}" class="w-50"></div>
		<h2 class="mt-3">Descrizione:</h2>
		<h4 th:text = "${photo.description}" class="mt-3"></h4>
		<h2 class="mt-3">Tag:</h2>
		<h4 th:text = "${photo.tag}" class="mt-3"></h4>
		<div class="row mt-3">
			<h2 class="col-6">Categorie:</h2>                                    
			<div class="col-6">Vai alla paggina della <a href="/category" class="btn btn-primary">Categorie</a></div>
		</div>	
		<div class="row mt-3">
			<div th:each = "category : ${photo.categories}" class="col-2">
				<h4 th:text = "${category.name} + ','"></h4>
			</div>
		</div>
	</div>
 
</div>

<div th:replace="~{fragments/bootstrap :: script}"></div>
</body>
</html>