<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/bootstrap :: head}"></div>
<title>Insert title here</title>
</head>
<body class="ls_body">

<div th:replace="~{fragments/bootstrap :: navbar}"></div>
 
<main>
        <div class="container">
            <div class="mt-5"> 
                <div class="row justify-content-center align-self-cente">

                        <div id="img" class="col-5 ls_w text-end ls_pad ls_box_l">
                    		<img th:src="${photo.url}" alt="" class=" ls_img">
                        </div>


                    <div class="col-4 ls_right ls_box">
                        <h4 id="title" class="text-center" th:text = "${photo.title}"></h4>
                        <div class="row">
                            <h6 class="mt-3 col-4">Descrizione:</h6>
                            <h6 id="desrizione" class="mt-3 col-3" th:text = "${photo.description}"></h6>
                        </div>

                        <div class="row mt-3">
                            <h6 class="col-4"><a href="/category">Categorie:</a></h6>                                    
                            <div id="categorie" class="col-3" th:each = "category : ${photo.categories}">
                                <h6 th:text = "${category.name} + ','"></h6>
                            </div>
                        </div>
                        <div class="row ">
                            <h6 class="mt-3 col-4">Tag:</h6>
                            <h6 id="tag" class="mt-3 col-3" th:text = "${photo.tag}"></h6>
                        </div> 
                        <div class="row mt-3">
                            <h6 class="mt-3 col-4">Commenti:</h6>
                            <div th:each = "comment : ${photo.comments}">
                            	<h4 class="mt-3 col-3" th:text="${comment.username}"></h4>
        						<h5 class="mt-3 col-3" th:text="${comment.text}"></h5>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </main>

<div th:replace="~{fragments/bootstrap :: script}"></div>
</body>
</html>