<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/bootstrap :: head}"></div>
<title>Insert title here</title>
</head>
<body class="ls_body">
	<div th:replace="~{fragments/bootstrap :: navbar}"></div>
	
    <main th:if="${photos.size()>0}">
        <div class="container">
            <h1 class="text-center m-4">Foto</h1>
            <div class="row justify-content-center" id="photo">
                <div id="selezione" class="ls_pad card col-3 mx-4" th:each = "photo : ${photos}" th:object="${photo}">
                    <img class=" card-img-top" th:src="*{url}" alt="Card image cap">
                    <div class="card-body p-3 row text-center justify-content-center">
                    	<div class="col-12">
	                        <h4 class="card-title title" th:text = "*{title}"></h4>
	                        <p class="card-text" th:text = "*{description}"></p>
	                        <h6 class="tags" th:text = "*{tag}"></h6>
	                     </div>   
                        <div class="row text-center align-items-end  mt-3">
	                         <div class="col-6"><a th:href="'photo/'+*{id}" class="btn btn-primary">Dettagli</a></div>
	                         <div class="col-6"><a th:href="'photo/edit/' + *{id}"  class="btn btn-primary">Modifica</a></div>
					   		<form action="#" th:action="@{'photo/delete/' + *{id}}" method="post" class="mt-2 text-center">
								<button type="submite" class="btn btn-danger">Elimina</button>
							</form>
						</div>	
                  	</div>
                 </div>
            </div>
        </div>
    </main>
				

	<h3 th:if="${photos.size()==0}" class="text-center">Non ci sono foto al momento</h3>
 
</div>

<div th:replace="~{fragments/bootstrap :: script}"></div>
</body>
</html>